# movielens电影评分数据分析(上)

In [1]:
import numpy as np
import pandas as pd

## 读取数据

In [2]:
# 从用户表读取用户信息
users = pd.read_table('users.dat', header=None, names=['UserID','Gender','Age','Occupation','Zip-code'], sep='::',engine='python')

In [3]:
# 打印列表长度，共有6040条记录
print(len(users))

6040

In [4]:
# 查看前五条记录
users.head(5)

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [5]:
# 同样方法，导入电影评分表
ratings = pd.read_table('ratings.dat', header=None, names=['UserID', 'MovieID', 'Rating', 'Timestamp'], sep='::',engine='python')
# 打印列表长度
print(len(ratings))
print(ratings.head(5))
# 同样方法，导入电影数据表
movies = pd.read_table('movies.dat', header=None, names=['MovieID', 'Title', 'Genres'], sep='::',engine='python')
print(len(movies))
print(movies.head(5))

1000209
   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291
3883
   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

## 合并数据表

In [6]:
# 导入完成之后，我们可以发现这三张表类似于数据库中的表
# 要进行数据分析，我们就要将多张表进行合并才有助于分析 先将users与ratings两张表合并再跟movied合并
data = pd.merge(pd.merge(users, ratings), movies)
data.head(20)

,UserID,Gender,Age,Occupation,Zip-code,MovieID,Rating,Timestamp,Title,Genres
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,F,18,3,95825,1193,4,978156168,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,M,1,10,48073,1193,5,982730936,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,F,25,7,10023,1193,5,978136709,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,F,25,1,14607,1193,3,978125194,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,M,45,3,55421,1193,5,978557765,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,M,18,4,61820,1193,5,978043535,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,M,25,8,24502,1193,3,978038981,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,M,45,17,98052,1193,4,978018995,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,M,18,4,94305,1193,4,977978345,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,M,25,4,92107,1193,4,977975061,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,M,18,12,77084,1193,4,978813972,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,M,25,0,96931,1193,5,977946400,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,M,50,1,56723,1193,5,977944039,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,M,25,2,30303,1193,5,977933866,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,F,50,1,55413,1193,4,977934292,One Flew Over the Cuckoo's Nest (1975),Drama

## 对数据初步描述分析

## 查看数据

In [24]:
# 合并后的每一条记录反映了每个人的年龄，职业，性别，邮编，电影ID，评分，时间戳，电影信息，电影分类等一系列信息
# 比如我们查看用户id为1的所有信息

## 查看每一部电影不同性别的平均评分并计算分歧差值，之后排序

### 步骤1：查看每一部电影不同性别的平均评分

#### 方法1：使用分组聚合进行组内计算

In [23]:
# 查看每一部电影不同性别的平均评分 data_gender接收

#### 方法2：创建数据透视表

In [22]:
# 查看每一部电影不同性别的平均评分 data_gender接收

### 步骤2：增加分歧列

In [21]:
# 查看电影分歧最大的那部电影，在原数据中体现

In [20]:
# 男女电影分歧最大进行排序 data_gender_sorted接收

## 查看评分次数多的电影并进行排序

In [19]:
# 查看评分次数多的电影并进行排序   data_rating_num接收

In [55]:
#进行排序

# movielens电影评分数据分析(下)

## 过滤掉评分条目数不足250条的电影

In [54]:
#过滤掉评分条目数不足250条的电影

In [53]:
#对评分数量进行排序，并取前20条数据

## 评分最高的十部电影

In [52]:
#评分最高的十部电影

## 查看不同年龄的分布情况并且采用直方图进行可视化

## 在原数据中标记出用户位于的年龄分组

## 电影评分表中计算不同类型电影的频数

In [51]:
#对数据进行规整-movies

In [50]:
#删除level_1列，将columns为0的列重命名为genres,并重新定义数据框为movies_genres

In [49]:
#将原movies数据中的genres列替换成movies_genres，得到规整化处理后的movies数据

In [48]:
#合并。构建电影评分数据集movie_ratings

In [47]:
#计算movies_ratings中不同类型电影的频数