In [46]:
import numpy as np
import pandas as pd
#定义资料集
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'])
df2 = pd.DataFrame(np.ones((3,4))*1, columns=['a','b','c','d'])
df3 = pd.DataFrame(np.ones((3,4))*2, columns=['a','b','c','d'])

<h1>concat练习</h1>

In [41]:
#res接收 concat纵向合并   注意参数axis合并方向

#承上一个例子，并将并将ignore_index设定为True：重置index

<h1>concat_join参数的练习</h1>

In [15]:
# join (合并方式) 如果为’inner’得到的是两表的交集，如果是outer，得到的是两表的并集
#定义资料集
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'], index=[1,2,3])
df2 = pd.DataFrame(np.ones((3,4))*1, columns=['b','c','d','e'], index=[2,3,4])

In [42]:
# res接收，要求纵向"外"合并df1与df2
# 此方式是依照column来做纵向合并，有相同的column上下合并在一起，
# 其他独自的column个自成列，原本没有值的位置皆以NaN填充。

In [43]:
#要求纵向"内"合并df1与df2

In [44]:
#要求重置index并打印结果

<h1>concat_join_axes参数的练习</h1>

In [45]:
# join_axes (依照 axes 合并)  可以指定根据那个轴来对齐数据
#定义资料集
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'], index=[1,2,3])
df2 = pd.DataFrame(np.ones((3,4))*1, columns=['b','c','d','e'], index=[2,3,4])

In [34]:
#要求依照`df1.index`进行横向合并

#要求打印结果

     a    b    c    d    b    c    d    e
1  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
3  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0

<h1>append合并案例练习</h1>

In [40]:
# append合并
#定义资料集
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'])
df2 = pd.DataFrame(np.ones((3,4))*1, columns=['a','b','c','d'])
#要求将df2合并到df1的下面，以及重置index，并打印出结果